---
title: dotfiles
comments: true
---

# dotfiles

https://dotfiles.github.io/

- dotfiles - это персональные настройки

## zsh

- zsh - оболочка терминала
- ohmyzsh - фреймворк для кастомизации

https://ohmyz.sh/

## starship

- starship - кастомизация promt-а

https://starship.rs/

## warp

- warp - современный терминал

https://warp.dev/

### workflows

https://docs.warp.dev/features/entry/workflows

{% for wf in workflows %}

### [wf.name](wf.p)

<details>
<summary>Description</summary>

wf.desc

</details>
{% endfor %}
