.DS_Store
ansible/roles.galaxy

**/.vagrant
environment/**/roles
__pycache__
dist

# DANGER
*.secret.hcl
*.secret.yml
vagrant-output
# due to nothing is ready
libs/*

# content experiments :(
terraform/*
